<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Findzhin</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css" media="all">

</head>

<body>

	<header class="header">
		<div class="top-menu">
			<div class="container">
				<div class="main-menu">
					<div class="logo">
						<a href="#"><img src="img/logo.svg" alt="logo"></a>
					</div>
				</div>
				<div class="menu__icon icon-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<nav class="main-nav">
			<div class="container">
				<ul class="sf-menu">
					<li>
						<a href="#">Вид кредита онлайн</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Способ получения</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Способ погашения</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Тип занятости</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Срок займа</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Еще</a>
						<ul>
							<li><a href="#">Акции</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Статьи</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</li>
					<li class="phone"><a href="tel:+78003334788">8-800-333-47-88</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main class="main">
		
		<section class="main__main-sect main-sect">
			<div class="container">
				<h1 class="main-sect__title main-title">Solicita mejor, ahorra más</h1>
				<h3 class="main-sect__subtitle subtitle">Compara los servicios financieros y empieza a ahorrar desde hoy</h3>
				<div class="main-sect__items credit-items">
					<div class="credit-items__item">
						<div class="credit-items__image">
							<img src="img/main-sect/main-sect-icon-1.svg" alt="main-sect-icon">
						</div>
						<p class="credit-items__text">Prestamos <br> en linea</p>
					</div>
					<div class="credit-items__item">
						<div class="credit-items__image">
							<img src="img/main-sect/main-sect-icon-2.svg" alt="main-sect-icon">
						</div>
						<p class="credit-items__text">Prestamos <br> rapidos</p>
					</div>
					<div class="credit-items__item">
						<div class="credit-items__image">
							<img src="img/main-sect/main-sect-icon-3.svg" alt="main-sect-icon">
						</div>
						<p class="credit-items__text">Prestamos <br> en linea sin buro</p>
					</div>
					<div class="credit-items__item">
						<div class="credit-items__image">
							<img src="img/main-sect/main-sect-icon-4.svg" alt="main-sect-icon">
						</div>
						<p class="credit-items__text">Prestamos <br> personales urgentes</p>
					</div>
				</div>
			</div>
		</section>

		<section class="main__achievements achievements">
			<div class="container">
				<h2 class="achievements__title title">Наши достижения</h2>
				<h3 class="achievements__subtitle subtitle">Сравнили и выдали займов:</h3>
				<div class="achievements__number">10654</div>
			</div>
		</section>

		<section class="main__block-checkbox block-checkbox">
			<div class="container">
				<div class="block-checkbox__row background-set">
					<h2 class="block-checkbox__title title">Как мы работаем</h2>
					<ul class="block-checkbox__list">
						<li class="block-checkbox__item">Proceso 100% online</li>
						<li class="block-checkbox__item">Financiación de $1.000 a $10.000.000 pesos</li>
						<li class="block-checkbox__item">Más de 50 entidades para comparar</li>
						<li class="block-checkbox__item">Reparadoras de deuda</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="main__about-us about-us">
			<div class="about-us__container container">
				<h2 class="about-us__title title">О нас пишут</h2>
				<div class="about-us__companies">
					<img class="about-us__image" src="img/companies/forbes.svg" alt="forbes">
					<img class="about-us__image" src="img/companies/enterpreneur.svg" alt="enterpreneur">
					<img class="about-us__image" src="img/companies/business-insider.svg" alt="business-insider">
					<img class="about-us__image" src="img/companies/focus.svg" alt="focus">
					<img class="about-us__image" src="img/companies/dagens-industri.svg" alt="dagens-industri">
					<img class="about-us__image" src="img/companies/globo.svg" alt="globo">
				</div>
			</div>
		</section>

		<section class="main__values values">
			<div class="container">
				<h2 class="values__title title">О ценностях</h2>
				<div class="values__descr">
					<div class="values__block">
						<p class="values__text">Si has solicitado un préstamo en Vivus México tienes la opción de solicitar un monto adicional.</p>
					</div>
					<div class="values__block">
						<p class="values__text">Es decir, si ya tienes un préstamo aprobado, pero necesitas más dinero, podrás solicitar un monto extra para solventar lo que sea que haya surgido.</p>
					</div>
					<div class="values__block">
						<p class="values__text">El crédito inicial y el monto adicional se combinarán en un sólo préstamo, manteniendo el mismo plazo de pago que el de la solicitud original.</p>
					</div>
					<div class="values__block">
						<p class="values__text">Como has notado, Vivus créditos es realmente flexible y honesto con los usuarios.</p>
						<p class="values__text">Si has solicitado un préstamo en Vivus México tienes la opción de solicitar un monto adicional.</p>
					</div>
					<div class="values__block">
						<p class="values__text">Es decir, si ya tienes un préstamo aprobado, pero necesitas más dinero, podrás solicitar un monto extra para solventar lo que sea que haya surgido. El crédito inicial y el monto adicional se combinarán en un sólo préstamo, manteniendo el mismo plazo de pago que el de la solicitud original.Como has notado, Vivus créditos es realmente flexible y honesto con los usuarios</p>
					</div>
				</div>
			</div>
		</section>

		<section class="main__calculator calculator">
			<div class="container">
				<div class="calculator__row background-set">
					<div class="calculator__columns">
						<div class="calculator__col">
							<div class="calculator__range range">
								<label class="range__label">
									<span class="range__label-title">¿Cuánto dinero necesitas?</span>
								</label>
								<div class="range__inputs">
									<div class="range__result result-1">
										<div class="range__result-input">
											<input aria-invalid="false" type="text" slot="amount" aria-labelledby="input-amount-slider" class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMarginDense MuiOutlinedInput-inputMarginDense" value="50" name="rs_sum_output" id="rs_sum_output">
										</div>
										<span class="range__result-span">$</span>
									</div>
									<input id="rs_sum" type="range" name="rs_sum" min="0" max="100" value="50" step="5" style="position: absolute; width: 1px; height: 1px; overflow: hidden; opacity: 0;">
								</div>
							</div>
						</div>
						<div class="calculator__col">
							<div class="calculator__range range">
								<label class="range__label">
									<span class="range__label-title">¿En cuánto tiempo deseas pagarlo?</span>
								</label>
								<div class="range__inputs">
									<div class="range__result result-2">
										<div class="range__result-input">
											<input aria-invalid="false" type="text" slot="term" aria-labelledby="input-term-slider" class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMarginDense MuiOutlinedInput-inputMarginDense" value="30" name="rs_term_output" id="rs_term_output">
										</div>
										<span class="range__result-span">días</span>
									</div>
									<input id="rs_term" type="range" name="rs_term" min="0" max="100" value="5" step="5" style="position: absolute; width: 1px; height: 1px; overflow: hidden; opacity: 0;">
								</div>
							</div>
						</div>
					</div>
					<div class="calculator__sum calculator-sum">
						<div class="calculator-sum__text">Сумма к возврату:</div>
						<div class="calculator-sum__number">65</div> <span class="calculator-sum__number-span">$</span>
					</div>
					<button type="button" class="calculator__button button button--primary">Recibir dinero</button>
				</div>
			</div>
		</section>

		<section class="main__entities entities">
			<div class="container">
				<div class="entities__row background-set">
					<h2 class="entities__title title">TOP 3 Entidades</h2>
					<ul class="entities__list">
						<li class="entities__item">
							<div class="entities__logo">
								<img src="img/entities/bbva.png" alt="bbva">
							</div>
							<div class="entities__repute repute">
								<div class="repute__rating">
									<img class="repute__rating-image" src="img/stars.svg" alt="stars">
									<div class="repute__rating-number">4,8</div>
								</div>
								<div class="repute__comments">
									Leer <a href="#" class="repute__comments-link">25 comentarios</a>
								</div>
							</div>
						</li>
						<li class="entities__item">
							<div class="entities__logo">
								<img src="img/entities/money-man.png" alt="money-man">
							</div>
							<div class="entities__repute repute">
								<div class="repute__rating">
									<img class="repute__rating-image" src="img/stars.svg" alt="stars">
									<div class="repute__rating-number">4,7</div>
								</div>
								<div class="repute__comments">
									Leer <a href="#" class="repute__comments-link">27 comentarios</a>
								</div>
							</div>
						</li>
						<li class="entities__item">
							<div class="entities__logo">
								<img src="img/entities/findzhin.png" alt="findzhin">
							</div>
							<div class="entities__repute repute">
								<div class="repute__rating">
									<img class="repute__rating-image" src="img/stars.svg" alt="stars">
									<div class="repute__rating-number">4,6</div>
								</div>
								<div class="repute__comments">
									Leer <a href="#" class="repute__comments-link">15 comentarios</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="main__employees employees">
			<div class="employees__container container">
				<h2 class="employees__title title">Nuestros colaboradores</h2>
				<div class="employees__companies">
					<img class="employees__image" src="img/employees/olimp-trade.jpg" alt="olimp-trade">
					<img class="employees__image" src="img/employees/banco-azteca.jpg" alt="banco-azteca">
					<img class="employees__image" src="img/employees/inbest-me.jpg" alt="inbest-me">
					<img class="employees__image" src="img/employees/crediclic.jpg" alt="crediclic">
				</div>
			</div>
		</section>

		<section class="main__comments comments">
			<div class="container">
				<h2 class="comments__title title">Comentarios sobre Zaimomat</h2>
				<div class="comments__row">
					<div class="comments__slider comments-block comments-slider background-set">
						<div class="comments-block__item">
							<div class="comments-block__data">
								<div class="comments-block__date">21.12.2021</div>
								<div class="comments-block__rating">
									<img class="comments-block__rating-img" src="img/stars.svg" alt="stars">
									<span class="comments-block__rating-number">4,4</span>
								</div>
							</div>
							<div class="comments-block__info">
								<div class="comments-block__info-name">Rocio Torres</div>
								<p class="comments-block__info-text">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos (también podía mandar fotos) y con eso tuve para una solicitud.</p>
								<div class="comments-block__descr">
									<div class="comments-block__descr-title">Ventajas</div>
									<p class="comments-block__descr-text">Usé su plataforma y encontré un préstamo rápidamente, y eso que mi score con el buro de crédito tan bueno en ese momento.</p>
									<div class="comments-block__descr-title">Desventajas</div>
									<p class="comments-block__descr-text">Me aprobaron muy poco dinero. Espero que si pago a tiempo me puedan prestar más</p>
								</div>
							</div>
						</div>
						<div class="comments-block__item">
							<div class="comments-block__data">
								<div class="comments-block__date">22.12.2021</div>
								<div class="comments-block__rating">
									<img class="comments-block__rating-img" src="img/stars.svg" alt="stars">
									<span class="comments-block__rating-number">4,4</span>
								</div>
							</div>
							<div class="comments-block__info">
								<div class="comments-block__info-name">Rocio Torres</div>
								<p class="comments-block__info-text">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos (también podía mandar fotos) y con eso tuve para una solicitud.</p>
								<div class="comments-block__descr">
									<div class="comments-block__descr-title">Ventajas</div>
									<p class="comments-block__descr-text">Usé su plataforma y encontré un préstamo rápidamente, y eso que mi score con el buro de crédito tan bueno en ese momento.</p>
									<div class="comments-block__descr-title">Desventajas</div>
									<p class="comments-block__descr-text">Me aprobaron muy poco dinero. Espero que si pago a tiempo me puedan prestar más</p>
								</div>
							</div>
						</div>
						<div class="comments-block__item">
							<div class="comments-block__data">
								<div class="comments-block__date">23.12.2021</div>
								<div class="comments-block__rating">
									<img class="comments-block__rating-img" src="img/stars.svg" alt="stars">
									<span class="comments-block__rating-number">4,4</span>
								</div>
							</div>
							<div class="comments-block__info">
								<div class="comments-block__info-name">Rocio Torres</div>
								<p class="comments-block__info-text">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos (también podía mandar fotos) y con eso tuve para una solicitud.</p>
								<div class="comments-block__descr">
									<div class="comments-block__descr-title">Ventajas</div>
									<p class="comments-block__descr-text">Usé su plataforma y encontré un préstamo rápidamente, y eso que mi score con el buro de crédito tan bueno en ese momento.</p>
									<div class="comments-block__descr-title">Desventajas</div>
									<p class="comments-block__descr-text">Me aprobaron muy poco dinero. Espero que si pago a tiempo me puedan prestar más</p>
								</div>
							</div>
						</div>
						<div class="comments-block__item">
							<div class="comments-block__data">
								<div class="comments-block__date">24.12.2021</div>
								<div class="comments-block__rating">
									<img class="comments-block__rating-img" src="img/stars.svg" alt="stars">
									<span class="comments-block__rating-number">4,4</span>
								</div>
							</div>
							<div class="comments-block__info">
								<div class="comments-block__info-name">Rocio Torres</div>
								<p class="comments-block__info-text">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos (también podía mandar fotos) y con eso tuve para una solicitud.</p>
								<div class="comments-block__descr">
									<div class="comments-block__descr-title">Ventajas</div>
									<p class="comments-block__descr-text">Usé su plataforma y encontré un préstamo rápidamente, y eso que mi score con el buro de crédito tan bueno en ese momento.</p>
									<div class="comments-block__descr-title">Desventajas</div>
									<p class="comments-block__descr-text">Me aprobaron muy poco dinero. Espero que si pago a tiempo me puedan prestar más</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="main__block-checkbox block-checkbox">
			<div class="container">
				<div class="block-checkbox__row background-set">
					<h2 class="block-checkbox__title title">Наши цели, миссия</h2>
					<ul class="block-checkbox__list">
						<li class="block-checkbox__item">Proceso 100% online</li>
						<li class="block-checkbox__item">Financiación de $1.000 a $10.000.000 pesos</li>
						<li class="block-checkbox__item">Más de 50 entidades para comparar</li>
						<li class="block-checkbox__item">Reparadoras de deuda</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="main__team team">
			<div class="container">
				<div class="team__row background-set">
					<h2 class="team__title title">Наша команда</h2>
					<div class="team__items">
						<div class="team__item">
							<div class="team__photo">
								<img src="img/team/rocio-torres.jpg" alt="Rocio Torres">
							</div>
							<div class="team__info">
								<div class="team__name">Rocio Torres</div>
								<p class="team__review">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos</p>
							</div>
						</div>
						<div class="team__item">
							<div class="team__photo">
								<img src="img/team/facundo-arana.jpg" alt="Facundo Arana">
							</div>
							<div class="team__info">
								<div class="team__name">Facundo Arana</div>
								<p class="team__review">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="main__useful-block useful-block">
			<div class="container">
				<div class="useful-block__row background-set">
					<h2 class="useful-block__title title">Полезные материалы</h2>
					<div class="useful-block__items">
						<div class="useful-block__item">
							<div class="useful-block__info">
								<div class="useful-block__date">23.06.2019</div>
								<a href="#" class="useful-block__link">3 необходимых условия для получения займа до зарплаты</a>
							</div>
							<div class="useful-block__info">
								<div class="useful-block__date">23.06.2019</div>
								<a href="#" class="useful-block__link">3 необходимых условия для получения займа до зарплаты</a>
							</div>
						</div>
						<div class="useful-block__item">
							<div class="useful-block__info">
								<div class="useful-block__date">22.06.2019</div>
								<a href="#" class="useful-block__link">5 условий получения займа с плохой кредитной историей</a>
							</div>
							<div class="useful-block__info">
								<div class="useful-block__date">22.06.2019</div>
								<a href="#" class="useful-block__link">5 условий получения займа с плохой кредитной историей</a>
							</div>
						</div>
						<div class="useful-block__item">
							<div class="useful-block__info">
								<div class="useful-block__date">20.06.2019</div>
								<a href="#" class="useful-block__link">7 причин исправить кредитную историю микрозаймами</a>
							</div>
							<div class="useful-block__info">
								<div class="useful-block__date">20.06.2019</div>
								<a href="#" class="useful-block__link">7 причин исправить кредитную историю микрозаймами</a>
							</div>
						</div>
					</div>
					<a href="#" class="useful-block__more">Все статьи</a>
				</div>
			</div>
		</section>

		<section class="main__useful-block useful-block">
			<div class="container">
				<div class="useful-block__row background-set">
					<h2 class="useful-block__title title">Новости</h2>
					<div class="useful-block__items">
						<div class="useful-block__item">
							<div class="useful-block__info">
								<div class="useful-block__date">23.06.2019</div>
								<a href="#" class="useful-block__link">3 необходимых условия для получения займа до зарплаты</a>
							</div>
							<div class="useful-block__info">
								<div class="useful-block__date">23.06.2019</div>
								<a href="#" class="useful-block__link">3 необходимых условия для получения займа до зарплаты</a>
							</div>
						</div>
						<div class="useful-block__item">
							<div class="useful-block__info">
								<div class="useful-block__date">22.06.2019</div>
								<a href="#" class="useful-block__link">5 условий получения займа с плохой кредитной историей</a>
							</div>
							<div class="useful-block__info">
								<div class="useful-block__date">22.06.2019</div>
								<a href="#" class="useful-block__link">5 условий получения займа с плохой кредитной историей</a>
							</div>
						</div>
						<div class="useful-block__item">
							<div class="useful-block__info">
								<div class="useful-block__date">20.06.2019</div>
								<a href="#" class="useful-block__link">7 причин исправить кредитную историю микрозаймами</a>
							</div>
							<div class="useful-block__info">
								<div class="useful-block__date">20.06.2019</div>
								<a href="#" class="useful-block__link">7 причин исправить кредитную историю микрозаймами</a>
							</div>
						</div>
					</div>
					<a href="#" class="useful-block__more">Остальные новости</a>
				</div>
			</div>
		</section>

		<section class="main__datas datas">
			<div class="container">
				<h2 class="datas__title title">Contacto</h2>
				<div class="datas__columns">
					<ul class="datas__column">
						<li class="datas__col">
							<div class="datas__caption">La ciudad</div>
							<p class="datas__text">México</p>
						</li>
						<li class="datas__col">
							<div class="datas__caption">La dirección</div>
							<p class="datas__text">Av. Extremadura 59-piso 4, Insurgentes Mixcoac, Benito Juárez, 03920 Ciudad de México, CDMX, México</p>
						</li>
						<li class="datas__col">
							<div class="datas__caption">Código Postal</div>
							<p class="datas__text">03900</p>
						</li>
						<li class="datas__col">
							<div class="datas__caption">Teléfono</div>
							<p class="datas__text">+52 55 5005 9720</p>
						</li>
					</ul>
					<ul class="datas__column">
						<li class="datas__col">
							<div class="datas__caption">Teléfono</div>
							<p class="datas__text">800 422 1022</p>
						</li>
						<li class="datas__col">
							<div class="datas__caption">Correo electrónico</div>
							<a href="mailto:clientes@moneyman.com.mx" class="datas__email">clientes@moneyman.com.mx</a>
						</li>
						<li class="datas__col">
							<div class="datas__caption">WhatsApp:</div>
							<p class="datas__text">+52 55 8070 3990</p>
						</li>
						<li class="datas__col">
							<div class="datas__caption">Las redes sociales</div>
							<div class="datas__social">
								<a href="#" class="datas__social-link">
									<img class="datas__social-img" src="img/social/facebook.svg" alt="facebook">
								</a>
								<a href="#" class="datas__social-link">
									<img class="datas__social-img" src="img/social/instagram.svg" alt="instagram">
								</a>
								<a href="#" class="datas__social-link">
									<img class="datas__social-img" src="img/social/twitter.svg" alt="twitter">
								</a>
								<a href="#" class="datas__social-link">
									<img class="datas__social-img" src="img/social/youtube.svg" alt="youtube">
								</a>
								<a href="#" class="datas__social-link">
									<img class="datas__social-img" src="img/social/linkedin.svg" alt="linkedin">
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer__row">
			<ul class="footer-list">
				<li class="footer-list__item">
					© Zaimomat.ru 2019.<br>
					Все права защищены
				</li>
				<li class="footer-list__item">
					<a class="footer__tel" href="tel:+74996579635">
						+7 499 657-96-35
					</a>
				</li>
				<li class="footer-list__item">
					Содержание сайта носит исключительно информационно-справочный характер.
					Сервис Zaimomat.ru не является кредитной организацией и не выдает кредиты.
				</li>
			</ul>
	
			<ul class="footer-list">
				<li class="footer-list__item">
					Все представленные компании имеют лицензии на соответствующую деятельность.
				</li>
				<li class="footer-list__item">
					При использовании материалов активная гиперссылка на Zaimomat.ru обязательна.
				</li>
			</ul>
	
			<ul class="footer-list footer-list__menu">
				<li class="footer-list__item">
					<a href="#" class="footer-list__link">
						Политика конфиденциальности
					</a>
				</li>
				<li class="footer-list__item">
					<a href="#" class="footer-list__link">
						О сайте
					</a>
				</li>
				<li class="footer-list__item">
					<a href="#" class="footer-list__link">
						Публичная оферта
					</a>
				</li>
				<li class="footer-list__item">
					<a href="#" class="footer-list__link">
						Вакансии
					</a>
				</li>
				<li class="footer-list__item">
					<a href="#" class="footer-list__link">
						Контакты
					</a>
				</li>
				<li class="footer-list__item">
					<a href="#" class="footer-list__link">
						Политика обработки персональных данных
					</a>
				</li>
			</ul>
	
			<ul class="footer-list">
				<li class="footer-list__item">
					Мы в социальных сетях
				</li>
				<li class="footer-list__item">
					<ul class="footer-list-soc">
						<li class="footer-list-soc__item footer-list-soc__item--inst">
							<a href="#"></a>
						</li>
						<li class="footer-list-soc__item footer-list-soc__item--youtube">
							<a href="#"></a>
						</li>
						<li class="footer-list-soc__item footer-list-soc__item--facebook">
							<a href="#"></a>
						</li>
					</ul>
				</li>
				<li class="footer-list__item">
					<a href="#" class="footer-list__item-logo"></a>
				</li>
			</ul>
			</div>
		</div>
	</footer>

	<script src="js/scripts.min.js"></script>

</body>

</html>