<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Findzhin</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css" media="all">

</head>

<body>

	<header class="header">
		<div class="top-menu">
			<div class="container">
				<div class="main-menu">
					<div class="logo">
						<a href="#"><img src="img/logo.svg" alt="logo"></a>
					</div>
				</div>
				<div class="menu__icon icon-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<nav class="main-nav">
			<div class="container">
				<ul class="sf-menu">
					<li>
						<a href="#">Вид кредита онлайн</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Способ получения</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Способ погашения</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Тип занятости</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Срок займа</a>
						<ul>
							<li><a href="#">Займы по паспорту</a></li>
							<li><a href="#">Кредит без поручителей</a></li>
							<li><a href="#">Заем без справки о доходах</a></li>
							<li><a href="#">Микрокредит без залога</a></li>
							<li><a href="#">Микрокредит без расписки</a></li>
							<li><a href="#">Займы до зарплаты</a></li>
							<li><a href="#">Кредит для бизнеса</a></li>
							<li><a href="#">Онлайн кредит наличными без справок</a></li>
							<li><a href="#">Онлайн займ без проверок</a></li>
							<li><a href="#">Займ онлайн с плохой кредитной историей</a></li>
							<li><a href="#">Займы без отказа</a></li>
							<li><a href="#">Частный займ без предоплаты</a></li>
							<li><a href="#">Онлайн займы с просрочками</a></li>
							<li><a href="#">Займы 24 часа</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Еще</a>
						<ul>
							<li><a href="#">Акции</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Статьи</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</li>
					<li class="phone"><a href="tel:+78003334788">8-800-333-47-88</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main class="main">

		<div class="content">
			<div class="container">
				<div class="content__block">
					<div class="content__row">
						<section class="main__staff staff">
							<h2 class="staff__title title staff__title--visible-mobile">Nuestro equipo</h2>
							<div class="staff__row background-set">
								<h2 class="staff__title title staff__title--hidden-desktop">Nuestro equipo</h2>
								<div class="staff__columns">
									<div class="staff__column">
										<img src="img/staff/staff1.jpg" alt="Alex Torres" class="staff__image">
										<div class="staff__info">
											<div class="staff__name">Alex Torres</div>
											<p class="staff__descr">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos</p>
											<div class="staff__socials">
												<a href="#" class="staff__link">
													<img src="img/social/facebook.svg" alt="facebook" class="staff__social staff__social--facebook">
												</a>
												<a href="#" class="staff__link">
													<img src="img/social/instagram.svg" alt="instagram" class="staff__social staff__social--instagram">
												</a>
											</div>
										</div>
									</div>
									<div class="staff__column">
										<img src="img/staff/staff2.jpg" alt="Facundo Arana" class="staff__image">
										<div class="staff__info">
											<div class="staff__name">Facundo Arana</div>
											<p class="staff__descr">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos</p>
											<div class="staff__socials">
												<a href="#" class="staff__link">
													<img src="img/social/twitter.svg" alt="twitter" class="staff__social staff__social--twitter">
												</a>
											</div>
										</div>
									</div>
									<div class="staff__column">
										<img src="img/staff/staff3.jpg" alt="Facundo Arana" class="staff__image">
										<div class="staff__info">
											<div class="staff__name">Facundo Arana</div>
											<p class="staff__descr">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos</p>
											<div class="staff__socials">
												<a href="#" class="staff__link">
													<img src="img/social/twitter.svg" alt="twitter" class="staff__social staff__social--twitter">
												</a>
											</div>
										</div>
									</div>
									<div class="staff__column">
										<img src="img/staff/staff4.jpg" alt="Facundo Arana" class="staff__image">
										<div class="staff__info">
											<div class="staff__name">Facundo Arana</div>
											<p class="staff__descr">Llené el formulario y recibí respuesta rápidamente. Solo tuve que escanear algunos documentos</p>
											<div class="staff__socials">
												<a href="#" class="staff__link">
													<img src="img/social/facebook.svg" alt="facebook" class="staff__social staff__social--facebook">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer__content footer__content--desktop">
				<a href="#" class="footer__logo">
					<img src="img/logo.svg" alt="Logo">
				</a>
				<h2 class="footer__title">Comparación inteligente de préstamos favorables</h2>
				<div class="footer__columns">
					<div class="footer__col footer__col--text">
						<p class="footer__text">Ayudamos a comparar cientas de empresas y compañías financieras que brindan servicios de préstamos, créditos, liquidación de deudas, entre muchos otros. Con información actualizada al momento, podrás acceder a tasas y comisiones, requisitos y ofertas vigentes de todas las compañías. Y ¡no te preocupes! Promovemos únicamente a prestamistas y compañías financieras verificadas, con el fin de mantener una alta protección del usuario y de sus finanzas.</p>
						<p class="footer__text">Nuestra manera de trabajar es muy sencilla– recolectamos información de las compañías financieras, la procesamos usando redes neutrales y expertos en el ámbito, generamos una calificación utilizando un algoritmo con elementos de inteligencia artifical y, posteriormente, los comparamos con diferentes ofertas, para poder ofrecer la que mejor se ajusta al usuario y sus necesidades.</p>
					</div>
					<div class="footer__col footer__col--links">
						<div class="footer__links">
							<div class="footer__lists">
								<ul class="footer__list">
									<li class="footer__item">
										<a href="#" class="footer__link">Sobre Nosotros</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Términos y Condiciones</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Nuestro equipo</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Aviso de Privacidad</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Trabaja con nosotros</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Cookies</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Социальная поддержка</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Остались вопросы - свяжитесь с нами</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Editorial Policy</a>
									</li>
								</ul>
							</div>
							<div class="footer__lists">
								<ul class="footer__list">
									<li class="footer__item">
										<a href="#" class="footer__item-link">
											<img src="img/condusef1.svg" alt="Condusef" class="footer__item-logo">
											<span>condusef.gob.mx</span>
										</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__item-link">
											<img src="img/buro.svg" alt="Buro" class="footer__item-logo">
											<span>buro.gob.mx</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer__col footer__col--contacts">
						<div class="footer__contacts">
							<div class="footer__box">
								<div class="footer__caption">Contacto</div>
								<div class="footer__socials socials">
									<div class="socials__item">
										<a href="tel:+525590630252" class="socials__link">
											<img src="img/social/icon-phone.svg" alt="Phone" class="socials__icon socials__icon--phone">
											<span>+52 55 9063 0252</span>
										</a>
									</div>
									<div class="socials__item">
										<a href="#" class="socials__link">
											<img src="img/social/icon-facebook.svg" alt="Facebook" class="socials__icon socials__icon--facebook">
										</a>
										<a href="#" class="socials__link">
											<img src="img/social/icon-twitter.svg" alt="Twitter" class="socials__icon socials__icon--twitter">
										</a>
									</div>
								</div>
							</div>
							<div class="footer__box">
								<div class="footer__caption">La ciudad</div>
								<div class="footer__info">México</div>
							</div>
							<div class="footer__box">
								<div class="footer__caption">La dirección</div>
								<div class="footer__info">Av. Extremadura 59-piso 4, Insurgentes Mixcoac, Benito Juárez, 03920 Ciudad de México, CDMX, México</div>
							</div>
							<div class="footer__box">
								<div class="footer__caption">Código Postal</div>
								<div class="footer__info">03900</div>
							</div>
							<div class="footer__box">
								<div class="footer__caption">Correo electrónico</div>
								<a href="mailto:clientes@moneyman.com.mx" class="footer__info">clientes@moneyman.com.mx</a>
							</div>
						</div>
					</div>
				</div>
				<p class="footer__descr">Finjenios es un servicio independiente, enfocado a categorizar y ofrecer la mejor opción de créditos. Finjenios no es quien administra las solicitudes, pagos ni la disponibilidad de las ofertas. Utilizamos un agloritmo avanzado para poder comparar y ofrecer las mejores opciones. Al momento de realizarse una solicitud, Finjenios recibe una comisión por medio de un link de afiliación. Nos encargamos de que la información de todas las compañías está actualizada, pero la información definitiva se encontrará disponible en la página de la empresa financiera. </p>
				<p class="footer__copyright">©FINJENIOS.COM.MX 2023</p>
			</div>
			<div class="footer__content footer__content--mobile">
				<a href="#" class="footer__logo">
					<img src="img/logo.svg" alt="Logo">
				</a>
				<h2 class="footer__title">Comparación inteligente de préstamos favorables</h2>
				<div class="footer__columns">
					<div class="footer__col footer__col--text">
						<p class="footer__text">Ayudamos a comparar cientas de empresas y compañías financieras que brindan servicios de préstamos, créditos, liquidación de deudas, entre muchos otros. Con información actualizada al momento, podrás acceder a tasas y comisiones, requisitos y ofertas vigentes de todas las compañías. Y ¡no te preocupes! Promovemos únicamente a prestamistas y compañías financieras verificadas, con el fin de mantener una alta protección del usuario y de sus finanzas.</p>
						<p class="footer__text">Nuestra manera de trabajar es muy sencilla– recolectamos información de las compañías financieras, la procesamos usando redes neutrales y expertos en el ámbito, generamos una calificación utilizando un algoritmo con elementos de inteligencia artifical y, posteriormente, los comparamos con diferentes ofertas, para poder ofrecer la que mejor se ajusta al usuario y sus necesidades.</p>
						<p class="footer__descr">Finjenios es un servicio independiente, enfocado a categorizar y ofrecer la mejor opción de créditos. Finjenios no es quien administra las solicitudes, pagos ni la disponibilidad de las ofertas. Utilizamos un agloritmo avanzado para poder comparar y ofrecer las mejores opciones. Al momento de realizarse una solicitud, Finjenios recibe una comisión por medio de un link de afiliación. Nos encargamos de que la información de todas las compañías está actualizada, pero la información definitiva se encontrará disponible en la página de la empresa financiera. </p>
					</div>
					<div class="footer__col footer__col--links">
						<div class="footer__links">
							<div class="footer__lists">
								<ul class="footer__list">
									<li class="footer__item">
										<a href="#" class="footer__item-link">
											<img src="img/condusef1.svg" alt="Condusef" class="footer__item-logo">
											<span>condusef.gob.mx</span>
										</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__item-link">
											<img src="img/buro.svg" alt="Buro" class="footer__item-logo">
											<span>buro.gob.mx</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="footer__line"></div>
							<div class="footer__lists">
								<ul class="footer__list">
									<li class="footer__item">
										<a href="#" class="footer__link">Sobre Nosotros</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Términos y Condiciones</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Nuestro equipo</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Aviso de Privacidad</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Trabaja con nosotros</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Cookies</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Социальная поддержка</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Остались вопросы - свяжитесь с нами</a>
									</li>
									<li class="footer__item">
										<a href="#" class="footer__link">Editorial Policy</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer__col footer__col--contacts">
						<div class="footer__contacts">
							<div class="footer__box">
								<div class="footer__caption">Contacto</div>
								<div class="footer__socials socials">
									<div class="socials__item">
										<a href="tel:+525590630252" class="socials__link">
											<img src="img/social/icon-phone.svg" alt="Phone" class="socials__icon socials__icon--phone">
											<span>+52 55 9063 0252</span>
										</a>
									</div>
									<div class="socials__item">
										<a href="#" class="socials__link">
											<img src="img/social/icon-facebook.svg" alt="Facebook" class="socials__icon socials__icon--facebook">
										</a>
										<a href="#" class="socials__link">
											<img src="img/social/icon-twitter.svg" alt="Twitter" class="socials__icon socials__icon--twitter">
										</a>
									</div>
								</div>
							</div>
							<div class="footer__box">
								<div class="footer__caption">La ciudad</div>
								<div class="footer__info">México</div>
							</div>
							<div class="footer__box">
								<div class="footer__caption">La dirección</div>
								<div class="footer__info">Av. Extremadura 59-piso 4, Insurgentes Mixcoac, Benito Juárez, 03920 Ciudad de México, CDMX, México</div>
							</div>
							<div class="footer__box">
								<div class="footer__caption">Código Postal</div>
								<div class="footer__info">03900</div>
							</div>
							<div class="footer__box">
								<div class="footer__caption">Correo electrónico</div>
								<a href="mailto:clientes@moneyman.com.mx" class="footer__info">clientes@moneyman.com.mx</a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__line"></div>
				<p class="footer__copyright">©FINJENIOS.COM.MX 2023</p>
			</div>
		</div>
	</footer>


	<script src="js/scripts.min.js"></script>

</body>

</html>