.footer-list__link {
    text-decoration: underline !important;
    color: #fff !important;
}
.footer__tel {
    color: #fff !important;
}

.values__descr p{
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #777;
}

.rating__stars {
    min-width: 80px;
    max-width: 80px;
    background: url(../img/star-disable.svg) top left/contain repeat-x;
    margin-top: 3px;
}
.rating__stars:before {
    float: left;
    width: inherit;
    height: 100%;
    /*background: url(../img/star--active.svg) top left/contain repeat-x;*/
    background: url(../img/star.svg) top left/contain repeat-x;
    left: 0;
    content: '';
    position: relative;
}

.rating__stars_similar {
    min-width: 75px;
    max-width: 75px;
    background: url(../img/star-disable.svg) top left/contain repeat-x;
    margin-top: 3px;
    height: 15px;
}
.rating__stars_similar:before {
    float: left;
    width: inherit;
    height: 15px;
    /* background: url(../img/star--active.svg) top left/contain repeat-x; */
    background: url(../img/star.svg) top left/contain repeat-x;
    left: 0;
    content: '';
    position: relative;
}

.tabs-control__item {
    padding: 25px 15px !important;
    font-size: 20px !important;
    line-height: 20px !important;
}

.entities__logo img {
    width: 100%;
}

@media (max-width: 1000px){
    .tabs-control__item {
        font-size: 18px !important;
        line-height: 18px !important;
    }
}