.footer-list__link {
    text-decoration: underline !important;
    color: #fff !important;
}
.footer__tel {
    color: #fff !important;
}

.values__descr p{
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #777;
}

.rating__stars {
    min-width: 80px;
    max-width: 80px;
    background: url(../img/star-disable.svg) top left/contain repeat-x;
    margin-top: 3px;
}
.rating__stars:before {
    float: left;
    width: inherit;
    height: 100%;
    /*background: url(../img/star--active.svg) top left/contain repeat-x;*/
    background: url(../img/star.svg) top left/contain repeat-x;
    left: 0;
    content: '';
    position: relative;
}

.rating__stars_similar {
    min-width: 75px;
    max-width: 75px;
    background: url(../img/star-disable.svg) top left/contain repeat-x;
    margin-top: 3px;
    height: 15px;
}
.rating__stars_similar:before {
    float: left;
    width: inherit;
    height: 15px;
    /* background: url(../img/star--active.svg) top left/contain repeat-x; */
    background: url(../img/star.svg) top left/contain repeat-x;
    left: 0;
    content: '';
    position: relative;
}

.tabs-control__item {
    padding: 25px 15px !important;
    font-size: 20px !important;
    line-height: 20px !important;
}

.entities__logo img {
    width: 100%;
}
.main__page-information{
    background: #fff;
    padding: 25px;
}

.main__page-information li::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.main__page-information li {
    font-size: 16px;
    line-height: 19px;
    color: #777;
    width: 100%;
    padding: 10px 10px 10px 37px;
    position: relative;
}

.main__page-information p {
    font-size: 16px;
    line-height: 19px;
    color: #777;
    padding-bottom: 15px;
}

.main__main-sect{
    margin-bottom: 30px;
}

.mobile_view{
    display: none;
}
.menu-top-desktop{
    display: none;
}
.main__staff{
    margin-top: 42px;
}

.rating-stars__filled {
    background-image:
            url("data:image/svg+xml,%3Csvg width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.7532 32.1954L11.0057 35.7117C10.6477 35.8753 10.2589 35.9706 9.86154 35.9921C9.46422 36.0136 9.06631 35.9608 8.69077 35.8369C8.31522 35.713 7.96947 35.5204 7.67347 35.2701C7.37747 35.0199 7.13707 34.717 6.96614 34.3789C6.72495 33.8824 6.6412 33.331 6.72497 32.7909L7.84035 24.6522C7.86428 24.2418 7.79311 23.8315 7.63175 23.4495C7.47039 23.0676 7.22269 22.7232 6.90584 22.4403L0.87663 16.4568C0.315157 15.9255 0 15.2067 0 14.4575C0 13.7084 0.315157 12.9896 0.87663 12.4583C1.30928 12.0869 1.84043 11.8322 2.41408 11.721L11.0057 10.133C11.4502 10.0561 11.8706 9.88624 12.2359 9.6359C12.6011 9.38556 12.9019 9.06117 13.1159 8.68673L17.3967 1.48384C17.586 1.15548 17.8424 0.865536 18.1512 0.630667C18.46 0.395799 18.815 0.220633 19.196 0.115231C19.577 0.00982879 19.9763 -0.0237321 20.3711 0.0164758C20.7659 0.0566838 21.1484 0.169868 21.4965 0.349528C22.0062 0.610579 22.4248 1.00444 22.7023 1.48384L26.8625 8.68673C27.0765 9.06117 27.3773 9.38556 27.7425 9.6359C28.1078 9.88624 28.5282 10.0561 28.9727 10.133L37.5643 11.6359C38.3472 11.7801 39.0374 12.2102 39.4838 12.832C39.9302 13.4539 40.0963 14.2169 39.9459 14.9538C39.8431 15.4842 39.5816 15.9761 39.1922 16.3717L33.163 22.3268C32.8513 22.6326 32.6164 23.0002 32.4756 23.4026C32.3347 23.805 32.2915 24.232 32.3491 24.6522L33.4946 32.7909C33.5453 33.1616 33.5175 33.538 33.4129 33.8986C33.3084 34.2592 33.1291 34.5968 32.8853 34.8919C32.6416 35.1871 32.3382 35.434 31.9927 35.6185C31.6472 35.803 31.2663 35.9214 30.8719 35.967C30.3044 36.0552 29.7219 35.9655 29.2139 35.7117L21.3156 32.1954C20.9107 32.014 20.4679 31.9198 20.0194 31.9198C19.5708 31.9198 19.128 32.014 18.7231 32.1954H18.7532Z' fill='%23F7B500'/%3E%3C/svg%3E%0A")}
.rating-stars__empty
{
    background-image:url("data:image/svg+xml,%3Csvg width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3169 31.2952L10.5924 34.8011L10.5901 34.8022C10.3473 34.9131 10.0812 34.9787 9.80754 34.9935C9.53385 35.0083 9.26057 34.9719 9.00409 34.8873C8.74767 34.8027 8.51524 34.6723 8.31908 34.5065C8.12535 34.3427 7.97127 34.148 7.86245 33.9354C7.71175 33.6219 7.66128 33.2786 7.71315 32.9441L7.71451 32.9354L7.71571 32.9267L8.83109 24.788L8.83639 24.7493L8.83866 24.7104C8.87159 24.1456 8.77342 23.5823 8.55291 23.0603C8.33616 22.5473 8.00744 22.0888 7.59292 21.7133L1.58104 15.747L1.5726 15.7386L1.56396 15.7304C1.19491 15.3812 1 14.9222 1 14.4575C1 14.0002 1.18882 13.5484 1.54664 13.2013C1.84003 12.9551 2.20285 12.7813 2.60049 12.7035L11.1822 11.1173C11.7634 11.0159 12.3168 10.7928 12.8012 10.4608C13.285 10.1292 13.689 9.69646 13.9796 9.19084L18.2563 1.99474L18.2564 1.99478L18.263 1.98332C18.3843 1.77286 18.5511 1.5829 18.7566 1.42659C18.9622 1.27018 19.2019 1.15117 19.4626 1.07902C19.7235 1.00686 19.998 0.983651 20.2698 1.01133C20.5415 1.03901 20.8026 1.11675 21.0379 1.23819L21.0406 1.23956C21.3853 1.41609 21.659 1.67759 21.8369 1.98483L25.9943 9.18293C25.9947 9.18353 25.995 9.18414 25.9953 9.18474C26.2862 9.69298 26.6915 10.1279 27.1772 10.4608C27.6631 10.7938 28.2185 11.0173 28.8016 11.1182C28.8019 11.1183 28.8021 11.1183 28.8023 11.1184L37.3833 12.6194C37.3846 12.6197 37.3859 12.6199 37.3873 12.6202C37.9253 12.7202 38.383 13.0134 38.6714 13.4152C38.9586 13.8153 39.0597 14.2953 38.9661 14.7538L38.966 14.7538L38.9642 14.7635C38.9002 15.0933 38.7369 15.407 38.484 15.6657L32.4627 21.613C32.4623 21.6134 32.4618 21.6139 32.4614 21.6143C32.0435 22.0246 31.7243 22.5221 31.5317 23.0723C31.3388 23.6233 31.2791 24.21 31.3583 24.788L31.3589 24.7916L32.5038 32.9262C32.5039 32.9268 32.504 32.9273 32.504 32.9278C32.5354 33.1589 32.5181 33.3939 32.4525 33.6201C32.3867 33.847 32.2728 34.0632 32.1143 34.2552C31.9556 34.4474 31.7549 34.6119 31.5217 34.7364C31.2884 34.8609 31.0286 34.9422 30.7572 34.9736L30.7377 34.9758L30.7182 34.9788C30.3533 35.0356 29.9809 34.9771 29.6608 34.8172L29.6409 34.8072L29.6206 34.7982L21.7245 31.2828C21.724 31.2825 21.7234 31.2823 21.7229 31.2821C21.1884 31.0429 20.6066 30.9198 20.0194 30.9198C19.4315 30.9198 18.8492 31.0431 18.3142 31.2828L18.3169 31.2952Z' fill='white' stroke='%236236FF' stroke-width='2'/%3E%3C/svg%3E")
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          }
/*.rating-list__item .star{*/
.theme-krajee-svg .empty-stars .krajee-icon-star{
    background-image:url("data:image/svg+xml,%3Csvg width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3169 31.2952L10.5924 34.8011L10.5901 34.8022C10.3473 34.9131 10.0812 34.9787 9.80754 34.9935C9.53385 35.0083 9.26057 34.9719 9.00409 34.8873C8.74767 34.8027 8.51524 34.6723 8.31908 34.5065C8.12535 34.3427 7.97127 34.148 7.86245 33.9354C7.71175 33.6219 7.66128 33.2786 7.71315 32.9441L7.71451 32.9354L7.71571 32.9267L8.83109 24.788L8.83639 24.7493L8.83866 24.7104C8.87159 24.1456 8.77342 23.5823 8.55291 23.0603C8.33616 22.5473 8.00744 22.0888 7.59292 21.7133L1.58104 15.747L1.5726 15.7386L1.56396 15.7304C1.19491 15.3812 1 14.9222 1 14.4575C1 14.0002 1.18882 13.5484 1.54664 13.2013C1.84003 12.9551 2.20285 12.7813 2.60049 12.7035L11.1822 11.1173C11.7634 11.0159 12.3168 10.7928 12.8012 10.4608C13.285 10.1292 13.689 9.69646 13.9796 9.19084L18.2563 1.99474L18.2564 1.99478L18.263 1.98332C18.3843 1.77286 18.5511 1.5829 18.7566 1.42659C18.9622 1.27018 19.2019 1.15117 19.4626 1.07902C19.7235 1.00686 19.998 0.983651 20.2698 1.01133C20.5415 1.03901 20.8026 1.11675 21.0379 1.23819L21.0406 1.23956C21.3853 1.41609 21.659 1.67759 21.8369 1.98483L25.9943 9.18293C25.9947 9.18353 25.995 9.18414 25.9953 9.18474C26.2862 9.69298 26.6915 10.1279 27.1772 10.4608C27.6631 10.7938 28.2185 11.0173 28.8016 11.1182C28.8019 11.1183 28.8021 11.1183 28.8023 11.1184L37.3833 12.6194C37.3846 12.6197 37.3859 12.6199 37.3873 12.6202C37.9253 12.7202 38.383 13.0134 38.6714 13.4152C38.9586 13.8153 39.0597 14.2953 38.9661 14.7538L38.966 14.7538L38.9642 14.7635C38.9002 15.0933 38.7369 15.407 38.484 15.6657L32.4627 21.613C32.4623 21.6134 32.4618 21.6139 32.4614 21.6143C32.0435 22.0246 31.7243 22.5221 31.5317 23.0723C31.3388 23.6233 31.2791 24.21 31.3583 24.788L31.3589 24.7916L32.5038 32.9262C32.5039 32.9268 32.504 32.9273 32.504 32.9278C32.5354 33.1589 32.5181 33.3939 32.4525 33.6201C32.3867 33.847 32.2728 34.0632 32.1143 34.2552C31.9556 34.4474 31.7549 34.6119 31.5217 34.7364C31.2884 34.8609 31.0286 34.9422 30.7572 34.9736L30.7377 34.9758L30.7182 34.9788C30.3533 35.0356 29.9809 34.9771 29.6608 34.8172L29.6409 34.8072L29.6206 34.7982L21.7245 31.2828C21.724 31.2825 21.7234 31.2823 21.7229 31.2821C21.1884 31.0429 20.6066 30.9198 20.0194 30.9198C19.4315 30.9198 18.8492 31.0431 18.3142 31.2828L18.3169 31.2952Z' fill='white' stroke='%236236FF' stroke-width='2'/%3E%3C/svg%3E");
    width: 40px;
    height: 36px;
    margin-right: 20px;
    /*margin: 0 15px 0 0;*/
}

/*.rating-list__item  .filled-stars{*/
.theme-krajee-svg .filled-stars .krajee-icon-star {
    background-image:url("data:image/svg+xml,%3Csvg width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.7532 32.1954L11.0057 35.7117C10.6477 35.8753 10.2589 35.9706 9.86154 35.9921C9.46422 36.0136 9.06631 35.9608 8.69077 35.8369C8.31522 35.713 7.96947 35.5204 7.67347 35.2701C7.37747 35.0199 7.13707 34.717 6.96614 34.3789C6.72495 33.8824 6.6412 33.331 6.72497 32.7909L7.84035 24.6522C7.86428 24.2418 7.79311 23.8315 7.63175 23.4495C7.47039 23.0676 7.22269 22.7232 6.90584 22.4403L0.87663 16.4568C0.315157 15.9255 0 15.2067 0 14.4575C0 13.7084 0.315157 12.9896 0.87663 12.4583C1.30928 12.0869 1.84043 11.8322 2.41408 11.721L11.0057 10.133C11.4502 10.0561 11.8706 9.88624 12.2359 9.6359C12.6011 9.38556 12.9019 9.06117 13.1159 8.68673L17.3967 1.48384C17.586 1.15548 17.8424 0.865536 18.1512 0.630667C18.46 0.395799 18.815 0.220633 19.196 0.115231C19.577 0.00982879 19.9763 -0.0237321 20.3711 0.0164758C20.7659 0.0566838 21.1484 0.169868 21.4965 0.349528C22.0062 0.610579 22.4248 1.00444 22.7023 1.48384L26.8625 8.68673C27.0765 9.06117 27.3773 9.38556 27.7425 9.6359C28.1078 9.88624 28.5282 10.0561 28.9727 10.133L37.5643 11.6359C38.3472 11.7801 39.0374 12.2102 39.4838 12.832C39.9302 13.4539 40.0963 14.2169 39.9459 14.9538C39.8431 15.4842 39.5816 15.9761 39.1922 16.3717L33.163 22.3268C32.8513 22.6326 32.6164 23.0002 32.4756 23.4026C32.3347 23.805 32.2915 24.232 32.3491 24.6522L33.4946 32.7909C33.5453 33.1616 33.5175 33.538 33.4129 33.8986C33.3084 34.2592 33.1291 34.5968 32.8853 34.8919C32.6416 35.1871 32.3382 35.434 31.9927 35.6185C31.6472 35.803 31.2663 35.9214 30.8719 35.967C30.3044 36.0552 29.7219 35.9655 29.2139 35.7117L21.3156 32.1954C20.9107 32.014 20.4679 31.9198 20.0194 31.9198C19.5708 31.9198 19.128 32.014 18.7231 32.1954H18.7532Z' fill='%23F7B500'/%3E%3C/svg%3E%0A");
    width: 40px;
    height: 36px;
    margin-right: 20px;
    /*margin: 0 15px 0 0;*/
}

.rating-list__item{
    margin-bottom: 0;
}
.main-form__box{
    margin-top: 0;
}

.rating-list__item .form-control{
    height: 0;
}

.reviews__poll{
    margin-bottom: 30px;
}

.rating-stars {
    cursor: pointer;
    position: relative;
    display: flex;
}

@media (max-width: 1000px){
    .tabs-control__item {
        font-size: 18px !important;
        line-height: 18px !important;
    }
    .entities-sidebar {
        margin-bottom: 30px;
    }
    .tabs-content-block__item:last-child{
        border-bottom: 1px solid #d8d8d8;
    }
}
@media (max-width: 600px){
    .theme-krajee-svg .filled-stars .krajee-icon-star {
        margin-right: 4px;
    }
    .theme-krajee-svg .empty-stars .krajee-icon-star{
        margin-right: 4px;
    }
}
.rating-stars__star:nth-child(n+2) {
    margin-left: 4px;
}

@media (max-width: 1279px){
    .top-menu {
        background-color: #F0EFEF;
    }
    .desktop_view{
        display: none;
    }
    .mobile_view{
        display: block;
    }
    .menu-top-desktop{
        display: block;
    }
}
